.homepage-bullhorn-band {
  text-align: center;
  position: relative;
  background-color: $navy;
  color: $white;
  padding: 20px;
  h2 {
    font-size:2rem;
  }
}

.subscribe-description {
  p span {
    font-size:0.9rem;
  }
}

.subscribe-input {
  p {
    font-size:1rem;
  }
}

.clear {
  .button {
    background-color: $white;
    border-radius: 8px;
    width: 120px;
    text-transform: uppercase;
    &:hover {
      background-color: $pool;
      color: $white;
    }
  }
}