.awx-page {
  h2 {
    font-size: $font-xl;
    font-weight: normal;
    text-transform: none;
  }
  gap: 2rem;
}

.awx-logo {
  width: 10rem;
  float: left;
  padding-right: 2rem;
}

.awx-community {
  background-color: $grey94;
}

.awx-community-row {
  display: flex;
  flex-direction: row;
  margin: 1.4rem 0;
  justify-content: center;
  gap: 1rem;
}

.awx-community-highlights {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  .fa,
  .fa-brands,
  .fa-solid {
    font-size: 1.4rem;
    font-weight: 600;
    color: $pool;
    background-color: transparent;
  }
  a {
    text-decoration: none;
    color: $blue-anchor;
    &:hover {
      color: $black !important;
    }
  }
}

.awx-journeys {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2rem;
  border-width: 1px;
  border-radius: 5px;
  background-color: $white;
  justify-content: stretch;
}

.awx-milestone {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;

  h3 {
    font-size: $font-md;
    font-weight: 600;
    text-transform: none;
  }
  p {
    font-size: $font-sm;
    text-transform: none;
    text-align: left;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
  li {
    margin-top: 0.5rem;
  }
  a {
    color: $blue-anchor;
    font-size: $font-sm;
  }
}

.awx-resources {
  display: flex;
  flex-direction: column;
}

.awx-resource {
  display: flex;
  flex-direction: column;

}

.awx-resource-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  h4 {
    font-size: $font-sm;
    text-transform: none;
    margin-bottom: 0.5rem;
  }

}

.awx-resource-list {
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  .fa,
  .fa-brands,
  .fa-solid {
    font-size: $font-md;
    font-weight: 600;
    color: $cyan;
    background-color: transparent;
  }
  ul {
    list-style-type: none;
  }
}

.awx-migrating {
  h3 {
    font-size: $font-md;
    font-weight: 600;
    text-transform: none;
  }
}

.awx-comparison {
  display: flex;
  padding-bottom: 1rem;
  background-color: $grey94;
}

.awx-comparison-items {
  display: flex;
  flex-direction: row;
  padding-top: 1.2rem;
  h4 {
    font-size: $font-sm;
    font-weight: 600;
    text-transform: none;
    text-wrap: nowrap;
    margin-bottom: 0.5rem;
  }
}

.awx-comparison-section {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  img {
    width: 2rem;
  }
}

.awx-comparison-item {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  p {
    margin: 0;
  }
}

.awx-aap-section {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
}

.awx-aap-row {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.awx-aap-logo {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.awx-aap-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.awx-app-link {
  display: flex;
  flex-direction: column;
  p {
    font-size: $font-md;
  }
}
