<div class="grid-wrapper homepage-band">
  <div class="width-12-12 width-12-12-m">
    <div class="box">
      <img class="feature" src="/assets/images/icon_one.svg">
      <p>Feature one</p>
    </div>
    <div class="box">
      <img class="feature" src="/assets/images/icon_two.svg">
      <p>Feature two</p>
    </div>
    <div class="box">
      <img class="feature" src="/assets/images/icon_three.svg">
      <p>Feature three</p>
    </div>
    <div class="box">
      <img class="feature" src="/assets/images/icon_four.svg">
      <p>Feature four</p>
    </div>
    <div class="box">
      <img class="feature" src="/assets/images/icon_five.svg">
      <p>Feature five</p>
    </div>
  </div>
</div>
