<div class="grid-wrapper homepage-band">
  <div class="width-7-12 width-12-12-m">
    <h2>Ansible Community Website</h2>
    <p>Automation powered by people.</p>
    <p>Open-source and collaboration are at the heart of the Ansible community, helping more people experience the power of automation and work better and faster together.</p>
  </div>
  <div class="width-5-12 width-12-12-m">
    <h3>Ansible 7 is now available</h3>
    <div class="clipboard">
      <pre><code id="clip">pip install ansible</code><button class="btn" data-clipboard-action="copy" data-clipboard-target="#clip">
        <i class="fa fa-copy" aria-hidden="true"></i></button>
      </pre>
    </div>
  </div>
</div>
